/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  width: 100%;
}

.slideout-menu {
  bottom: 0;
  display: none;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 256px;
  z-index: 0;
}

.slideout-panel {
  position: relative;
  will-change: transform;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
